@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  background-color: rgba(21, 0, 114, 0.137);
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.phone {
  max-width: 370px;
  height: 702px;
  margin: 0 auto;
  border: 6px solid rgba(129, 129, 129, 0.9019607843);
  border-radius: 46px;
  margin-top: 30px;
  background-image: url(../img/oboi.jpg);
  background-color: rgba(0, 0, 0, 0.14);
  background-blend-mode: darken;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(204, 219, 232, 0.481) 3px 1px 12px 0px inset, rgba(255, 255, 255, 0.3) -3px -3px 12px 1px inset;
}
@media (max-width: 406px) {
  .phone {
    height: 690px;
  }
}
@media (max-width: 362px) {
  .phone {
    height: 640px;
  }
}
@media (max-width: 313px) {
  .phone {
    height: 500px;
  }
}
.phone .phone-- .phone--header {
  display: flex;
}
.phone .phone-- .phone--header .phoneHeader--icon {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.641);
  box-shadow: rgba(169, 168, 168, 0.493) 0px 1px 10px 0px;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.phone .phone-- .phone--header .phoneHeader--icon .phoneHeader--icon-camer {
  position: absolute;
  right: 12px;
  top: 8px;
  width: 11px;
  height: 11px;
  border-radius: 100px;
  background: linear-gradient(90deg, rgb(25, 5, 101) 23%, rgba(26, 119, 156, 0.366) 35%, rgba(13, 59, 157, 0.319) 47%, rgb(5, 64, 89) 58%, rgb(30, 83, 105) 77%);
}
.phone .phone-- .phone--header .phoneHeader--icon-hour {
  padding: 10px 0 0 25px;
}
.phone .phone-- .phone--header .phoneHeader--icon-hour span {
  color: white;
  text-align: start;
}
.phone .phone-- .phone--header .phoneHeader--icon-charg {
  padding: 10px 55px 0 0px;
  position: relative;
}
.phone .phone-- .phone--header .phoneHeader--icon-charg span {
  position: absolute;
  color: white;
  top: 11px;
  right: 34px;
  text-align: start;
  font-size: 10px;
}
.phone .phone-- .phone--header .phoneHeader--icon-charg img {
  top: 2px;
  right: -7px;
  position: absolute;
  width: 80px;
  height: 30px;
}
.phone .phone-- .phone--main {
  padding: 20px 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  flex-wrap: wrap !important;
  gap: 25px;
}
.phone .phone-- .phone--main .icon a {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}
.phone .phone-- .phone--main .icon a img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
}
.phone .phone-- .phone--main .icon a img:active {
  transform: scale(0.9);
}
.phone .phone-- .phone--bottom {
  width: 32 0px;
  height: 70px;
  background-color: rgba(198, 196, 225, 0.226);
  box-shadow: rgba(255, 255, 255, 0.514) 0px 1px 3px;
  margin: 461px 10px 0 10px;
  border-radius: 24px;
  padding: 10px;
}
@media (max-width: 406px) {
  .phone .phone-- .phone--bottom {
    margin: 441px 10px 0 10px;
  }
}
@media (max-width: 362px) {
  .phone .phone-- .phone--bottom {
    margin: 401px 10px 0 10px;
  }
}
@media (max-width: 313px) {
  .phone .phone-- .phone--bottom {
    margin: 261px 10px 0 10px;
  }
}
.phone .phone-- .phone--bottom .budilnik {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone .phone-- .phone--bottom .budilnik a img {
  width: 45px;
}
.phone .phone-- .phone--bottom .budilnik a img:active {
  transform: scale(0.9);
}

.phonr_container-1 {
  background-color: rgb(53, 53, 53) !important;
  background-blend-mode: normal !important;
  background-image: none !important;
}

h1 {
  color: #333;
}

.one_button {
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 10011;
  width: 40px;
  background-color: rgba(154, 154, 154, 0.443);
  border-radius: 100%;
  height: 40px;
  margin: 0 auto;
}

.clock {
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type=time] {
  padding: 5px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#set-alarm-btn {
  background-color: #28a745;
}

#clear-alarm-btn {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.9;
}

#status-message {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.alarm--clock {
  background-color: rgba(3, 6, 69, 0.83);
  border-radius: 24px;
  padding: 20px;
  margin-top: 190px;
  color: white;
}

#current-time {
  color: white;
}