input {
  color: white;
}
.button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: hsl(0, 1%, 25%);
  color: white;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
  &:hover {
    background-color: hsl(0, 0%, 40%);
  }
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.asdasfdsfmkds {
  margin: 30px;
}
#calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(119, 119, 119);
  border-radius: 15px;
  max-width: 300px;
  overflow: hidden;
}
.display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
}
.operator-btn {
  background-color: hsl(29, 100%, 55%);
}
.operator-btn:hover {
  background-color: hsl(29, 100%, 65%);
}
.operator-btn:hover {
  background-color: hsl(29, 100%, 45%);
}
.phone--main-title {
  font-size: 34px;
  font-weight: 900;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
}
.sadas {
  display: flex;
  align-items: center;
}
