@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  background-color: rgba(21, 0, 114, 0.137);
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn-prive {
  background-color: black;
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}
